:root {
    --main-bg-color: #f4f7fa;
    --container-bg-color: #ffffff;
    --border-color: #007bff;
    --button-primary-color: #007bff;
    --button-primary-hover: #0056b3;
    --button-success-color: #28a745;
    --button-success-hover: #218838;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --font-family: 'Roboto', sans-serif;
    --border-radius: 0.625rem; 
    --padding: 1.25rem; 
}

/* general setting */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--container-bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-shadow: 0 0.125rem 0.625rem var(--shadow-color);
    max-width: 100%;
    margin: 2rem auto;
}

h1 {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

/* style the import file field */
.upload-section {
    margin: 1.25rem 0;
    border: 0.125rem dashed var(--border-color); 
    padding: 1.25rem;
    border-radius: var(--border-radius);
    background-color: #e7f1ff;
    text-align: center;
}

.btn {
    border-radius: 0.3125rem; 
    padding: 0.625rem 1.25rem; 
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-primary {
    background-color: var(--button-primary-color);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--button-primary-hover);
}

.btn-success {
    background-color: var(--button-success-color);
}

.btn-success:hover,
.btn-success:focus {
    background-color: var(--button-success-hover);
}

/* style the preview section */
.preview-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.25rem; 
    gap: 0; 
}

/* Style the print button */
.print-button {
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: var(--button-success-color);
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0.75rem 1.5rem; 
    font-size: 1rem;
    border-radius: 2rem; 
    transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer; 
}

.print-button:hover,
.print-button:focus {
    background-color: var(--button-success-hover);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
    transform: translateX(-50%) scale(1.05);
}

.print-button:active {
    transform: translateX(-50%) scale(0.95); 
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem; 
    }
    
    .container {
        padding: 1rem; 
    }
    
    .btn {
        padding: 0.5rem 1rem;
        font-size: 0.875rem; 
    }

    .badge {
        width: 100%; 
        height: auto; 
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; 
    }
    
    .btn {
        font-size: 0.75rem; 
    }
    
    .badge {
        padding: 0.25rem; 
    }
}

/* Styling cho bản in */
@media print {
    /* Hide all content except the canvas elements */
    body * {
        visibility: hidden;
    }

    #uploadSection, #title, #printButton, #uploadSection *, #printButton, #upload-mapping, h1 {
        display: none;
    }
    canvas {
        visibility: visible;
        width: 100%; 
        height: 100%;
        max-width: 100%; 
        max-height: 100%;
    }

    @page {
        size: A4;
        margin: 0;
    }

    .print-button {
        display: none;
    }
}



